<!--
The TabView component provides a simple way to navigate between different views by
tapping on some of the tabs or by swiping between the views.
Learn more about the TabView component in this documentation article:
http://docs.nativescript.org/angular/code-samples/ui/tab-view
-->
<TabView (selectedIndexChanged)="onSelectedIndexChanged($event)"
         class="fa"
         #tabView>
    <StackLayout *tabItem="{title: 'Home', iconSource: getIconSource('loss')}">
        <Home></Home>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Messages', iconSource: getIconSource('chat')}">
        <Messages></Messages>
    </StackLayout>

    <StackLayout *tabItem="{title: 'SMART Goal', iconSource: getIconSource('goal')}">
        <SmartGoal></SmartGoal>
    </StackLayout>

    <StackLayout *tabItem="{title: 'More', iconSource: getIconSource('more')}">
        <More></More>
    </StackLayout>
</TabView>