<ActionBar class="action-bar">
    <NavigationButton text="Log out"></NavigationButton>
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<!--
The TabView component provides a simple way to navigate between different views by
tapping on some of the tabs or by swiping between the views.
Learn more about the TabView component in this documentation article:
http://docs.nativescript.org/angular/code-samples/ui/tab-view
-->
<TabView (selectedIndexChanged)="onSelectedIndexChanged($event)" class="fa">
    <StackLayout *tabItem="{title: 'Home', iconSource: getIconSource('loss')}">
        <Home></Home>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Messages', iconSource: getIconSource('chat')}">
        <Messages></Messages>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Smart Goal', iconSource: getIconSource('goal')}">
        <SmartGoal></SmartGoal>
    </StackLayout>
</TabView>