@import '~/app-variables';

.msg {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20;
}

.me .msg_text {
  background-color: $esmmwl-blue;
  color: white;
  padding: 10em;
  margin-left: 40px;
  margin-right: 10px;
  border-radius: 15;
}

.them .msg_text {
  background-color: $esmmwl-green;
  color: white;
  padding: 10em;
  border-radius: 15;
  margin-left: 10px;
  margin-right: 40px;
}

.authorimg {
  margin: 0px 5px 5px 5px;
  width: 30;
  height: 30;
  border-radius: 15;
}

.them .msg_timestamp {
  color: gray;
  font-size: 11px;
  margin-left: 40px;
}

.me .msg_timestamp {
  color: gray;
  font-size: 11px;
  margin-right: 40px;
  text-align: right;
}