<ScrollView>
    <StackLayout class="page p-t-15"
                 id="loginStack">
        <Image id="logo"
               src="~/esmmwl_logo.png"
               stretch="none"></Image>

        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15"
                   hint="Email Address"
                   keyboardType="email"
                   autocorrect="false"
                   autocapitalization="none"
                   [(ngModel)]="user.email"></TextField>
        <TextField class="m-t-10 m-b-10 m-l-15 m-r-15"
                   hint="Password"
                   secure="true"
                   autocorrect="false"
                   autocapitalization="none"
                   [(ngModel)]="user.password"></TextField>

        <Button class="btn btn-esmmwl"
                text="SIGN IN"
                (tap)="onSigninButtonTap()"></Button>
        <Label class="m-t-10 m-b-10 m-l-15 m-r-15"
               text="Forgot password?"
               (tap)="onForgotPasswordTap()"></Label>
    </StackLayout>
</ScrollView>