<StackLayout>
  <md-weight-graph [weightData]="weightData"></md-weight-graph>
  <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" 
             hint="Weight"
             keyboardType="number">
  </TextField>
  <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" 
             hint="Minutes of aerobic activity"
             keyboardType="number">
  </TextField>
  <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" 
             hint="Minutes of strength training"
             keyboardType="number">
  </TextField>
  <TextField class="m-t-10 m-b-10 m-l-15 m-r-15" 
             hint="Average steps per day"
             keyboardType="number">
  </TextField>
  <Button class="btn btn-primary" text="Submit" (tap)="onSubmitButtonTap()"></Button>
</StackLayout>