@import '~/app-variables';

.btn-primary {
  background-color: $esmmwl-teal;
}

.hidden-graph {
  visibility: collapse;
}

#dropDownLayout {
  horizontal-align: center;
}

#caret-down {
  padding-left: 10;
  padding-bottom: 4;
  vertical-align: bottom;
}

.default {
  font-size: 18;
  text-align: center;
  margin-top: 20;
}